asgiref==3.8.1
astroid==3.3.8
async-timeout==5.0.1
certifi==2024.12.14
cffi==1.17.1
channels==4.2.0
channels_redis==4.2.1
charset-normalizer==3.4.0
colorama==0.4.6
cryptography==44.0.0
dill==0.3.9
Django==5.1.4
django-allauth==65.3.0
django-channels==0.7.0
djangorestframework==3.15.2
idna==3.10
isort==5.13.2
mccabe==0.7.0
msgpack==1.1.0
oauthlib==3.2.2
platformdirs==4.3.6
pycparser==2.22
PyJWT==2.10.1
pylint==3.3.3
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.2
tzdata==2024.2
urllib3==2.3.0
