{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class ="content">
        <div class="centre">
            <div class="major">All thing fianance, right here. </div>
            <div class="minor">Built for making impact</div>
            <a href="{% url 'account_signup' %}"><div class="started">Get Started</div></a>
        </div>
    </div>


{% endblock %}