{% extends 'base.html' %}

{% block title %}Purchase{% endblock %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/css/purchase.css' %}">
<title>Profile</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="price-container">
        <div class="price-title">Choose What's Best For You</div>
        <div class="price-card-container">

            <div class="price-card-wrapper gradient1">
                <div class="price-card gradient-card-1">
                    <div class="price-info">
                        <div class="price-name">
                            Basic
                        </div>
                    </div>

                    <div class="price"> ₹ 99 </div>
                    <hr width="110%" style="background: rgb(74, 74, 74);">
                    <div class="feature"> Features </div>
                    <div class="details">
                        <ul>
                            <li>
                                A Perfect plan for starters to get predictions
                            </li>
                            <li>
                                2 Credits Point
                            </li>

                        </ul>

                    </div>


                    <form action="{% url 'phonepe_payment' %}" method="post" class="payment_form">
                        {% csrf_token %}
                        <input hidden value="1" name="itemId">
                        <button class="purchase">Purchase
                </div></a>
                </form>
                <!-- <a class="productLink" href="https://wingnate.gumroad.com/l/ymdamg"><div class="purchase">Purchase</div></a> -->
            </div>


            <div class="price-card-wrapper gradient2">
                <div class="price-card gradient-card-2">
                    <div class="price-info">
                        <div class="price-name">
                            Plus
                        </div>
                        <div class="popular">
                            Most Popular!
                        </div>
                    </div>

                    <div class="price">₹ 149 </div>
                    <hr width="110%" style="background: rgb(74, 74, 74);">
                    <div class="feature"> Features </div>
                    <div class="details">
                        <ul>
                            <li>
                                A Perfect Plan For Quick Predictions
                            </li>
                            <li>
                                7 Credits Points
                            </li>

                        </ul>
                    </div>

                    <!-- <a class="productLink" href="https://wingnate.gumroad.com/l/hydcnk" ><div class="purchase">Purchase</div></a> -->

                    <form action="{% url 'phonepe_payment' %}" method="post" class="payment_form">
                        {% csrf_token %}
                        <input hidden value="2" name="itemId">
                        <button class="purchase">Purchase
                </div></a>
                </form>
            </div>
        


        <div class="price-card-wrapper gradient3">
            <div class="price-card gradient-card-3">
                <div class="price-info">
                    <div class="price-name">
                        Pro
                    </div>
                </div>

                <div class="price">₹ 199</div>
                <hr width="110%" style="background: rgb(74, 74, 74);">
                <div class="feature"> Features </div>
                <div class="details">
                    <ul>
                        <li>
                            A Perfect Plan For Hassle Free Predictions
                        </li>

                        <li>
                            11 Credits Points
                        </li>

                        <!-- <li>
                            2 Free use
                        </li> -->
                    </ul>
                </div>

                <!-- <a href="https://wingnate.gumroad.com/l/dcmeg" class="productLink"><div class="purchase">Purchase</div></a> -->
                <form action="{% url 'phonepe_payment' %}" method="post" class="payment_form">
                    {% csrf_token %}
                    <input hidden value="3" name="itemId">
                    <button class="purchase">Purchase
            </div></a>
            </form>
        
    </div>

</div>
</div>
</div>

{% endblock %}