{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/update_profile.css' %}">

    <title>Profile</title>
{% endblock %}

{% block content %}
    <div class ="content">
        <form method="post" action="{% url 'user_update_profile' %}">

        {% csrf_token %}
        <div class="section">
            <div class="settings">Update Profile</div>
            <fieldset class="main-item">
                <legend>Name</legend>
                <input type="text" name="gender" placeholder="Gender">
            </fieldset>

            
        </div>

        <button type="submit" class="update">
            Update Profile
        </div>
    </form>
    </div>


{% endblock %}