{% extends 'base.html' %}

{% block title %} {{stock_name}} Dashboard{% endblock %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'app/css/stockdashboard.css' %}">
<script src="{%static 'app/js/stockdashboard.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.0.1/dist/chartjs-plugin-zoom.min.js"></script>
{% endblock %}



{% block content %}
<div class="content">

    <div>{{ stock_name| json_script:"stock_name" }} </div>


    <div class="stockapp">
        <div class="stockcard" id="stock-{{ stock_name }}">
            <div class="stockdetails">
                <div class="stockcardtitle">{{ stock_name }}</div>
                <div class="closedTag" id="closedTag">Closed</div> <div class="openTag" id="openTag">Open</div>
            </div>
            
            <hr class="hrrule">
            <div class="stocknumerics">
                <div class="numerics">
                    <div class="numeric" id="price-{{stock_name}}-close">
                        <!-- 22,904.45 <div class="high-price">-345.65</div> -->
                    </div>
                    <div class="numeric-dull">Current Price</div>
                </div>

            </div>
            <hr class="hrrule">
            <div class="stockcarddata">
                <canvas id="chart-{{ stock_name }}"></canvas>
            </div>

        </div>

        <div class="datacard-wrapper">
            <div class="datacard" id="datacard">

            </div>

            <div class="predict-btn" onclick="getPrediction()">Predict</div>
        </div>
        
    </div>

</div>

{% endblock %}