{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/account/change_pw.css' %}">
{% endblock extrahead %}
{% block content %}
    <div class="content">
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
</div>
{% endblock content %}
